.container {
  text-align: center;
  .content {
    padding: 8px;
    margin: auto;
    display: inline-block;
    width: 50%;
    table {
      width: 100%;
      th {
        cursor: pointer;
      }
      span.text {
        margin-right: 4px;
      }
      span.selected {
        border-bottom: 1px solid;
      }
    }
  }
}
